
<div class="wrapper" style="max-width: 60%;position: absolute;top:0;bottom: 0;left: 0;right: 0;margin: auto;">
  <h1>Edit Owner</h1>
  <form action="/edit_owner/<%=@owner.id%>" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" name="name" class="form-control" id="name" placeholder="<%=@owner.name%>" value="<%=@owner.name%>">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="<%=@owner.email%>" value="<%=@owner.email%>">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password_digest" class="form-control" id="password" placeholder="<%=@owner.password_digest%>" value="<%=@owner.password_digest%>">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" name="city" class="form-control" id="city" placeholder="<%=@owner.city%>" value="<%=@owner.city%>">
    </div>

    <div class="form-group">
      <label for="payment_info">Credit Card Number</label>
      <input type="text" name="payment_info" class="form-control" id="payment_info" placeholder="<%=@owner.payment_info%>" value="<%=@owner.payment_info%>">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

</form>
</div>
